<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/f7541c0347.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
    <header>
      <div class="menu-content">
          <div class="menu-content-logo">
            <img src="../../assets/nav-icon.svg" alt="Icone de checkBox marcado" class="nav-icon">
            <h3 class="menu-content-logo-text">To list</h3>
          </div>
          <nav class="header-menu">
              <ul class="list-items">
                  <li class="li-1"><a href="#">Sign in</a></li>
                  <li class="li-2"><a href="#">Sign up</a></li>
                  <li class="li-3"><a href="#">Dashboard</a></li>
                  <li class="li-4"><a href="#">Painel</a></li>
                  <li class="li-5"><a href="#"><i class="fa-solid fa-circle-user"></i></a></li>
              </ul>
          </nav>
      </div>
  </header>
  <div class="container">
    
  </div>
  <script src="script.js" type="module"></script>
</body>
</html>

