@import url('../painel/painel.css');
@import url('../../global.css');



:root{
  font-size: 62.5%;
}

body {
  background: hsla(216, 7%, 14%, 1);
}

header{
  width: 100%;
  height: 7.5vh;  /* o html possui 100 vh no total*/
  background: #000000;
}

.menu-content{
  max-width: 90%;
  height: 100%; /* para ocupar 100% dos 7vh */
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.menu-content-logo{
  margin-left: 2.8rem;
  display: flex;
  color: #fff;
  align-items: center;
  gap: 1.3vw;
  text-transform: uppercase;
  font-size: 2.4vh;
}
.menu-content-logo img{
  height: 6.4vh;
  width: 3.2vw;
}
.list-items{
  display: flex;
  gap: 1.3vw;
  justify-content: space-between;
  align-items: center;
  font-size: 2vh;
}
.list-items li a{
  color: #fff
}
.list-items li a i{
  font-size: 4.6vh;
  color: hsl(240, 60%, 50%);
}

