@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@400;800&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;

}

:root {
        
    --nav-height: 6.9rem;

    --primary-main: hsl(240, 67%, 58%);
    --primary-hover: hsl(240, 60%, 50%);
    --bottom-color:hsl(253, 57%, 45%);

    --secondary-main: hsl(0, 67%, 58%);
    --secondary-hover: hsl(0, 60%, 50%);

    
    --background-page: hsla(216, 7%, 14%, 1);
    --primary-color: hsl(0, 0%, 25%);
    --secondary-color: hsl(0, 0%, 38%);

    --nav-color: #000000;

    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

 /*   
    1vh = 9px 
    1vw =7.5px  
*/

/* ==== NAVIGATOR ============================================================== */

nav {
    height: 6.9rem;
    color: #fff;
    background: var(--nav-color);
    padding-left: 2.8rem;
    padding-right: 9.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-icon {
    height: 5.2rem;
    width: 5.2rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    font-size: 2.2rem;
    font-weight: 700;
    cursor: pointer;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
    cursor: pointer;
}
.alert {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 40vw;
    height: 11.1vh;
    background: var(--secondary-main);
    border-radius: 1.1vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation: alert 0.7;
}

@keyframes alert {
    0%{
        transform: translateY(100rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0rem);
        opacity: 1;
    }
} 

.alert p {

    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    
}

.timeBar {
    width: 100%;
    height: 1.1vh;
    background: var(--secondary-hover);
    animation-duration: 3s;
    animation-name: timeBar;
    position: absolute;
    bottom: 0;
    left: 0;
    /* border-end-start-radius: 1rem; */
    border-bottom-left-radius: 1.1vh;
    border-bottom-right-radius: 1.1vh;
}

@keyframes timeBar {
    0%{
        width: 0;
    }
    100%{
        width: 100%; 
    }
} 

/* ====== LOGIN SECTION ============================================================= */

.loginSection {
    width: 100vw;
    height: calc(100vh - var(--nav-height));
    background: var(--background-page);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.loginData {
    width: 24vw;
    height: 59.5vh;
    border-radius: 2.7vh;
    background: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3.8rem;
}

.containerInputs {
    width: 80%;
    height: 64%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4.2vh;
 
    position: relative;
}

.password, .username, .login, .loginData p {
    font-weight: 400;
    font-size: 1.8rem;
    color: #fff;
    width: 100%;
    height: 30%;
    border-radius: 1.1vh;
    border: 0;
}

.password, .username{
    
    box-sizing: border-box;
    padding-inline: 2.5rem;
    background: var(--secondary-color);
    outline: none;

}

.password:focus, .username:focus {
    border: .3rem solid var(--primary-main);
}

.imgHidePassword{
    display: none;
}

.containerInputs img{
    position: absolute;
    top: 36.5%;
    right: 1.3rem;
    transform: translateY(-50%);  
    cursor: pointer;
}

.login {
    background: var(--bottom-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 1.6rem;
    transition: 0.4s ease;
}

.login:hover {
    background: var(--primary-main);
}

.containerInputs p{ 
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}

.loginData p a{
    text-decoration: none;
    color: var(--primary-main);
}

.loginData p a:hover {
    color: var(--primary-hover);
}

