::-webkit-scrollbar {
    width: 2vh;
    background: transparent;
    border-left: 0.11 solid var(--nav-color);
    border-radius: 80rem;


}

::-webkit-scrollbar-thumb{
    cursor: pointer;
    width: .5rem;
    background: var(--nav-color);
    border-radius: 80rem;
}

/* ::-webkit-scrollbar-track-piece{
    border-radius: 30rem;
    background: red;
} */

::-webkit-scrollbar-button{
    background-color: #fff;
}