@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@400;800&family=Roboto:wght@400;700&display=swap');
@import url('../../global.css');
@import url("../../components/alert/alert.css");
@import url('../layout/style.css');


 /*   
    1vh = 9px 
    1vw =7.5px  
*/

/* ====== LOGIN SECTION ============================================================= */

body {
    overflow-x: hidden;
}

/* .li-2{
    display: flex;
} 

.li-1 {
    display: none;
} */

.loginSection {
    width: 100%;
    height: calc(100vh - var(--nav-height));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.loginData {
    width: 24vw;
    height: 59.5vh;
    border-radius: 2.7vh;
    background: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerInputs {
    width: 80%;
    height: 64%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4.2vh;
 
    position: relative;
}

.password, .username, .singin, .singup, .loginData p {
    font-weight: 400;
    font-size: 2vh;
    color: #fff;
    width: 100%;
    height: 5.9vh;
    border-radius: 1.1vh;
    border: 0;
}

.singin, .singup {
outline: none;
}

.password, .username{
    
    box-sizing: border-box;
    padding-inline: 2.7vh;
    background: var(--secondary-color);
    outline: none;

}

.password:focus, .username:focus {
    border: 0.33vh solid var(--primary-main);
}

.imgHidePassword{
    display: flex;
}

.imgHidePassword, .imgShowPassword{   
    width: 2.6vh;
    height: 2.6vh;
    position: absolute;
    top: 30%;
    right: 1.4vh;
    transform: translateY(-50%);  
    cursor: pointer;
}

.singin, .singup{
    background: var(--button-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 2vh;
    transition: 0.4s ease;
}

.singin:hover, .singup:hover {
    background: var(--primary-main);
}

.containerInputs p{ 
    font-size: 2vh;
    font-weight: 400;
    color: #fff;
}

.loginData p a{
    text-decoration: none;
    color: var(--primary-main);
}

.loginData p a:hover {
    color: var(--primary-hover);
}

