@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@400;800&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
  }

:root {
        
    --nav-height: 7.6vh;

    --primary-main: hsl(240, 67%, 58%);
    --primary-hover: hsl(240, 60%, 50%);
    --button-color:hsl(253, 57%, 45%);

    --secondary-main: hsl(0, 67%, 58%);
    --secondary-hover: hsl(0, 60%, 50%);
    --secondary-pressed: hsl(0, 57%, 30%);

    --background-page: hsla(216, 7%, 14%, 1);
    --primary-color: hsl(0, 0%, 25%);
    --secondary-color: hsl(0, 0%, 38%);

    --color-modal-backgroud: #202225;
  
    --nav-color: #000000;

    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}